.navbar {
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  line-height: normal;
  list-style: none;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.95);
  z-index: 100;
}

.title a {
  padding: 10px;
  border-radius: 10px;
}

.container .title a {
  border-radius: 10px 10px 0 0;
}

.navbar a {
  color: #1e3c72;
  font-weight: 500;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #0000008a;
  color: white;
}

ul {
  display: none;
  position: absolute;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin-top: 10px;
  background-color: #0000008a;
  border-radius: 0 10px 10px 10px;
}

li {
  padding: 20px 15px 15px;
  color: white;
}

a li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 10px;
}
