* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #e3f2fd;
}

nav {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 70px;
  background-color: #87b7d3;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0 0 10px 10px;
  border: white 2px solid;
  border-style: none none solid none;
  color: white;
}

#carousels-container,
#animations-container {
  position: relative;
}

.title {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

#home-title:hover {
  border-radius: 10px;
  background-color: #0000008a;
}

span a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  background-color: #0000008a;
  padding: 0;
  margin-top: 10px;
  gap: 20px;
  border-radius: 0 10px 10px 10px;
}

#carousels-list,
#animations-list {
  position: absolute;
  display: none;
  z-index: 100;
}

li {
  padding: 20px 15px 15px;
  color: white;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

a li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 10px;
}
