#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  top: 50%;
  left: 4vmin;
  transform: translate(0, -50%);
  user-select: none;
  cursor: grab;
}

#image-track:active {
  cursor: grabbing;
}

#image-track .image {
  height: 300px;
  width: 535px;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 30px;
}
